
*.pyc
*.pyc
CovidDash/CovidDash/__pycache__/settings.cpython-38.pyc
CovidDash/CovidDash/__pycache__/urls.cpython-38.pyc
CovidDash/firstPage/__pycache__/views.cpython-38.pyc
CovidDash/firstPage/__pycache__/__init__.cpython-38.pyc
CovidDash/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
CovidDash/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
CovidDash/CovidDash/__pycache__/urls.cpython-38.pyc
CovidDash/.ipynb_checkpoints/Untitled3-checkpoint.ipynb
