{% extends 'base.html' %}
{% block content %}
<html>

<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<body>
<div>
    <div id="main">
        <h1> Cases by Age, Gender and Ethnicity </h1>
        <select class="form-control browser-default dropdown" id="dd" onchange="selection()">
            {% for i in metrics %}
            {% if selection == i %}
            <option value={{i}} selected>{{i|safe}}</option>
            {% else %}
            <option value={{i}}>{{i|safe}}</option>
            {%endif%}
            {% endfor %}
        </select>

        {% if selection == 'Gender' %}
        <div style="position:relative;top:50px;">
            <canvas id="genderChart" width="5" height="2"></canvas>
        </div>
        {% elif selection == 'Age' %}
        <div style="position:relative;top:50px;">
            <canvas id="AgeChart" width="5" height="2"></canvas>
        </div>
        {% elif selection == 'Ethnicity' %}
        <div style="position:relative;top:50px;">
            <canvas id="raceChart" width="4" height="2"></canvas>
        </div>

        {% endif %}
    </div>
</div>
</body>

<script>

  var ctx1 = document.getElementById('genderChart',);
  if(ctx1!=null){
  var ct1 = ctx1.getContext('2d');
  var myChart1 = new Chart(ct1, {
  type: 'bar',
  data: {
  labels: ['Total cases','Confirmed cases','Total Deaths','Confirmed Deaths'],
datasets: [
  {
    label: 'Male',
    backgroundColor: '#5676A3', // green
    data:{{barplotValMale|safe}}
  },
  {
    label: 'Female',
    backgroundColor: '#A3569D', // yellow
     data:{{barplotValFemale|safe}}
  },
  {
    label: 'Other',
    backgroundColor: '#C70039', // yellow
     data:{{barplotValOther|safe}}
  }
]},
  options: {}
});
}
  var ctx2 = document.getElementById('AgeChart',)
  if(ctx2!=null){
  var ct2 = ctx2.getContext('2d');
  var myChart2 = new Chart(ct2, {
  type: 'bar',
  data: {
  labels: ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80 and older'],
datasets: [
  {
    label: 'Total cases',
    backgroundColor: '#5676A3',
    data:{{barplotage1|safe}}
  },
  {
    label: 'Confirmed cases',
    backgroundColor: '#A3569D',
     data:{{barplotage2|safe}}
  },
  {
    label: 'Total Deaths',
    backgroundColor: 'orange',
     data:{{barplotage3|safe}}
  },
  {
    label: 'Confirmed Deaths',
    backgroundColor: 'red',
     data:{{barplotage4|safe}}
  }
]},
  options: {
  }
});
}
var ctx3 = document.getElementById('raceChart',).getContext('2d');
  var myChart3 = new Chart(ctx3, {
  type: 'bar',
  data: {
  labels: {{racesGrouped|safe}},
datasets: [
  {
    label: 'Total cases',
    backgroundColor: '#A3569D',
     data:{{barplotrace2|safe}}
  },
  {
    label: 'Total Deaths',
    backgroundColor: 'orange',
     data:{{barplotrace3|safe}}
  }
]},
  options: {
  }
});


    function selection() {
        var id = document.getElementById("dd").value

        // Construct the full URL with "id"
        document.location.href = "/" + "AgeGenderEthnicitySelection" + "/" + id;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
{% endblock %}
</html>