{% extends 'base.html' %}
{% block content %}
<html>

<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<body>
<div>
    <div id="main">
    <h1> Nursing Homes by town </h1>
    <select class="form-control browser-default dropdown" id="dd" onchange="townSelection()">
        {% for i in town%}
        <option value={{i}} selected="selected">{{i|safe}}</option>
        {% endfor %}
    </select>

</div>
</div>

</body>
<script>
    function townSelection() {


        var id = document.getElementById("dd").value

        // Construct the full URL with "id"
        document.location.href = "/" + "TownSelection" + "/" + id;
    }
</script>
{% endblock %}
</html>