{% extends 'base.html' %}
{% block content %}
<html>
<body>
<h1 align="center"> Daily Covid-19 Report </h1>
  <div>
    {% if showNursing == 'True'%}
    <div>
      <table align="center" border="2" cellpadding="5" style="width:57.5%" height="10" bgcolor="teal">

        <td class="tabtext"> Covid-19 Daily Update</td>

      </table>

      <table align="center" border="2" cellpadding="5" style="width:50%">

        <td bgcolor="white">STATE</td>

        <td bgcolor="white">FIPS</td>
        <td bgcolor="white">CASES</td>
        <td bgcolor="white">DEATHS</td>
        <td bgcolor="white">CONFIRMED_CASES</td>
        <td bgcolor="white">CONFIRMED_DEATHS</td>
        {% for i in data%}

        <tr>
          <td>{{i.state}}</td>

          <td>{{i.fips}}</td>
          <td>{{i.cases}}</td>
          <td>{{i.deaths}}</td>
          <td>{{i.confirmed_cases}}</td>
          <td>{{i.confirmed_deaths}}</td>
        </tr>
        {% endfor %}

      </table>
    </div>

    {% elif showNursing == 'False' %}
    <div>
      <canvas id="myChart1" width="400" height="200"></canvas>
    </div>

    </select>


    {%endif%}


  </div>

</body>
<script>

  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }

</script>
{% endblock %}

</html>