{% extends 'base.html' %}
{% block content %}
<html>

<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<body>
<div>
    <div id="main">
        <h1> Nursing Homes by town</h1>
        <select class="form-control browser-default dropdown" id="dd" onchange="townSelection()">
            {% for i in town %}
            {% if town_selection == i %}
            <option value={{i}} selected>{{i|safe}}</option>
            {% else %}
            <option value={{i}}>{{i|safe}}</option>
            {%endif%}
            {% endfor %}
        </select>

        {% if showNursing == 'False' %}
        {{showTownSelection}}
        <div>
            <canvas id="myChart1" width="500" height="200"></canvas>
        </div>

        {%endif%}

    </div>
</div>


</body>

<script>
    var ctx = document.getElementById('myChart1', ).getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {

        datasets: [{
            label: 'Licensed Beds',
            backgroundColor: 'purple',
            borderColor: 'purple',
            data: {{barplotval|safe}}

        },
        {
            label: 'Residents with covid',
            backgroundColor: 'blue',
            borderColor: 'blue',
            data: {{barplotval1|safe}}

        },
         {
            label: 'Lab confirmed cases',
            backgroundColor: 'orange',
            borderColor: 'orange',
            data: {{barplotval2|safe}}

        },
        {
            label: 'Probable associated deaths',
            backgroundColor: 'brown',
            borderColor: 'brown',
            data: {{barplotval3|safe}}

        }]

    },

    // Configuration options go here
    options: {
    legend: {
                position: 'bottom',
              },
    title: {
                display: true,
                position: 'bottom',
                text: 'Covid-19 cases based on Nursing Homes by Town'
              }
              }
});
var ctx = document.getElementById('myChart', ).getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: {{town|safe}},
        datasets: [{
            label: 'Nursing Home Total beds',
            backgroundColor: 'green',
            borderColor: 'green',
            data: {{barplotval|safe}}

        }]

    },

    // Configuration options go here
    options: {}
});


function townSelection() {


    var id = document.getElementById("dd").value;

    // Construct the full URL with "id"
    document.location.href = "/" + "TownSelection" + "/" + id;
}




</script>
{% endblock %}
</html>