{% extends 'base.html' %}
{% block content %}
<html>

<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<body>
<h1> Vaccinations by County </h1>
<div>
    {% if vaccination == 'True' %}
    <div style="position:relative;top:50px;">
        <canvas id="myChart" width="5" height="2"></canvas>
    </div>
    {%endif%}

</div>
</body>

<script>
    var ctx = document.getElementById('myChart'); // node
var ctx = document.getElementById('myChart').getContext('2d'); // 2d context

   var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{county|safe}},
    datasets: [
     {
      label: 'Total Population',
      data: {{barplot2|safe}},
      backgroundColor: 'blue'
    },
    {
      label: 'first doses',
      data: {{barplot3|safe}},
      backgroundColor: 'purple'
    },
    {
      label: 'population aged 65 to 74',
      data: {{barplot4|safe}},
      backgroundColor: 'red'
    },
    {
      label: 'population aged 75 and above',
      data: {{barplot5|safe}},
      backgroundColor: 'orange'
    },
    {
      label: 'first dose aged 65 to 74',
      data: {{barplot6|safe}},
      backgroundColor: 'brown'
    },
    {
      label: 'first dose aged 75 and above',
      data: {{barplot7|safe}},
      backgroundColor: 'green'
    }]
  },
  options: {
   legend: {
                position: 'bottom',
              },
    title: {
                display: true,
                position: 'bottom',
                text: ' Covid-19 Vaccination provided based on different county in Connecticut'
              }}
});


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
{% endblock %}
</html>